.paragraph.paragraph--width--tiny > .paragraph__column,
.paragraph.paragraph--width--tiny.paragraph--type--carousel > .carousel-inner {
  float: none;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .paragraph.paragraph--width--tiny > .paragraph__column,
  .paragraph.paragraph--width--tiny.paragraph--type--carousel > .carousel-inner {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 768px) {
  .paragraph.paragraph--width--tiny > .paragraph__column,
  .paragraph.paragraph--width--tiny.paragraph--type--carousel > .carousel-inner {
    margin-left: 33.33333333%;
  }
}
@media (min-width: 992px) {
  .paragraph.paragraph--width--tiny > .paragraph__column,
  .paragraph.paragraph--width--tiny.paragraph--type--carousel > .carousel-inner {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 992px) {
  .paragraph.paragraph--width--tiny > .paragraph__column,
  .paragraph.paragraph--width--tiny.paragraph--type--carousel > .carousel-inner {
    margin-left: 33.33333333%;
  }
}
@media (min-width: 1200px) {
  .paragraph.paragraph--width--tiny > .paragraph__column,
  .paragraph.paragraph--width--tiny.paragraph--type--carousel > .carousel-inner {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 1200px) {
  .paragraph.paragraph--width--tiny > .paragraph__column,
  .paragraph.paragraph--width--tiny.paragraph--type--carousel > .carousel-inner {
    margin-left: 33.33333333%;
  }
}
.paragraph.paragraph--width--narrow > .paragraph__column,
.paragraph.paragraph--width--narrow.paragraph--type--bp-carousel > .carousel-inner {
  float: none;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .paragraph.paragraph--width--narrow > .paragraph__column,
  .paragraph.paragraph--width--narrow.paragraph--type--bp-carousel > .carousel-inner {
    float: left;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .paragraph.paragraph--width--narrow > .paragraph__column,
  .paragraph.paragraph--width--narrow.paragraph--type--bp-carousel > .carousel-inner {
    margin-left: 25%;
  }
}
@media (min-width: 992px) {
  .paragraph.paragraph--width--narrow > .paragraph__column,
  .paragraph.paragraph--width--narrow.paragraph--type--bp-carousel > .carousel-inner {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .paragraph.paragraph--width--narrow > .paragraph__column,
  .paragraph.paragraph--width--narrow.paragraph--type--bp-carousel > .carousel-inner {
    margin-left: 25%;
  }
}
@media (min-width: 1200px) {
  .paragraph.paragraph--width--narrow > .paragraph__column,
  .paragraph.paragraph--width--narrow.paragraph--type--bp-carousel > .carousel-inner {
    float: left;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .paragraph.paragraph--width--narrow > .paragraph__column,
  .paragraph.paragraph--width--narrow.paragraph--type--bp-carousel > .carousel-inner {
    margin-left: 25%;
  }
}
.paragraph.paragraph--width--medium > .paragraph__column,
.paragraph.paragraph--width--medium.paragraph--type--bp-carousel > .carousel-inner {
  float: none;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .paragraph.paragraph--width--medium > .paragraph__column,
  .paragraph.paragraph--width--medium.paragraph--type--bp-carousel > .carousel-inner {
    float: left;
    width: 66.66666667%;
  }
}
@media (min-width: 768px) {
  .paragraph.paragraph--width--medium > .paragraph__column,
  .paragraph.paragraph--width--medium.paragraph--type--bp-carousel > .carousel-inner {
    margin-left: 16.66666667%;
  }
}
@media (min-width: 992px) {
  .paragraph.paragraph--width--medium > .paragraph__column,
  .paragraph.paragraph--width--medium.paragraph--type--bp-carousel > .carousel-inner {
    float: left;
    width: 66.66666667%;
  }
}
@media (min-width: 992px) {
  .paragraph.paragraph--width--medium > .paragraph__column,
  .paragraph.paragraph--width--medium.paragraph--type--bp-carousel > .carousel-inner {
    margin-left: 16.66666667%;
  }
}
@media (min-width: 1200px) {
  .paragraph.paragraph--width--medium > .paragraph__column,
  .paragraph.paragraph--width--medium.paragraph--type--bp-carousel > .carousel-inner {
    float: left;
    width: 66.66666667%;
  }
}
@media (min-width: 1200px) {
  .paragraph.paragraph--width--medium > .paragraph__column,
  .paragraph.paragraph--width--medium.paragraph--type--bp-carousel > .carousel-inner {
    margin-left: 16.66666667%;
  }
}
.paragraph.paragraph--width--wide > .paragraph__column,
.paragraph.paragraph--width--wide.paragraph--type--bp-carousel > .carousel-inner {
  float: none;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .paragraph.paragraph--width--wide > .paragraph__column,
  .paragraph.paragraph--width--wide.paragraph--type--bp-carousel > .carousel-inner {
    float: left;
    width: 83.33333333%;
  }
}
@media (min-width: 768px) {
  .paragraph.paragraph--width--wide > .paragraph__column,
  .paragraph.paragraph--width--wide.paragraph--type--bp-carousel > .carousel-inner {
    margin-left: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .paragraph.paragraph--width--wide > .paragraph__column,
  .paragraph.paragraph--width--wide.paragraph--type--bp-carousel > .carousel-inner {
    float: left;
    width: 83.33333333%;
  }
}
@media (min-width: 992px) {
  .paragraph.paragraph--width--wide > .paragraph__column,
  .paragraph.paragraph--width--wide.paragraph--type--bp-carousel > .carousel-inner {
    margin-left: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .paragraph.paragraph--width--wide > .paragraph__column,
  .paragraph.paragraph--width--wide.paragraph--type--bp-carousel > .carousel-inner {
    float: left;
    width: 83.33333333%;
  }
}
@media (min-width: 1200px) {
  .paragraph.paragraph--width--wide > .paragraph__column,
  .paragraph.paragraph--width--wide.paragraph--type--bp-carousel > .carousel-inner {
    margin-left: 8.33333333%;
  }
}
.paragraph.paragraph--width--full > .paragraph__column,
.paragraph.paragraph--width--full.paragraph--type--bp-carousel > .carousel-inner {
  float: none;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .paragraph.paragraph--width--full > .paragraph__column,
  .paragraph.paragraph--width--full.paragraph--type--bp-carousel > .carousel-inner {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .paragraph.paragraph--width--full > .paragraph__column,
  .paragraph.paragraph--width--full.paragraph--type--bp-carousel > .carousel-inner {
    float: left;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .paragraph.paragraph--width--full > .paragraph__column,
  .paragraph.paragraph--width--full.paragraph--type--bp-carousel > .carousel-inner {
    float: left;
    width: 100%;
  }
}
@media (min-width: 768px) {
  body .paragraph.paragraph--width--tiny > .paragraph__column,
  body .paragraph.paragraph--width--tiny.paragraph--type--carousel > .carousel-inner,
  body .paragraph.paragraph--width--narrow > .paragraph__column,
  body .paragraph.paragraph--width--narrow.paragraph--type--bp-carousel > .carousel-inner,
  body .paragraph.paragraph--width--medium > .paragraph__column,
  body .paragraph.paragraph--width--medium.paragraph--type--bp-carousel > .carousel-inner,
  body .paragraph.paragraph--width--wide > .paragraph__column,
  body .paragraph.paragraph--width--wide.paragraph--type--bp-carousel > .carousel-inner,
  body .paragraph.paragraph--width--full > .paragraph__column,
  body .paragraph.paragraph--width--full.paragraph--type--bp-carousel > .carousel-inner {
    float: none;
  }
}
/*# sourceMappingURL=vbp-widths.layout.css.map */