.paragraph {
  margin-left: -15px;
  margin-right: -15px;
  margin-left: 0;
  margin-right: 0;
}
.paragraph > .paragraph__column {
  padding-bottom: 30px;
}
.paragraph--type--bp-carousel .paragraph:last-of-type > .paragraph__column,
.paragraph--type--bp-columns .paragraph:last-of-type > .paragraph__column,
.paragraph--type--bp-columns-three-uneven .paragraph:last-of-type > .paragraph__column,
.paragraph--type--bp-columns-two-uneven .paragraph:last-of-type > .paragraph__column,
.paragraph--type--bp-tabs .paragraph:last-of-type > .paragraph__column {
  padding-bottom: 0;
}
.paragraph .paragraph,
.paragraph .paragraph .paragraph {
  margin-left: 0;
  margin-right: 0;
}
.paragraph > .paragraph__column .paragraph > .paragraph__column,
.paragraph > .paragraph__column .paragraph > .paragraph__column .paragraph > .paragraph__column {
  float: none;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  width: auto;
}
.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__6col {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__6col {
    float: left;
    width: 16.66666667%;
  }
}
.paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__5col {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .paragraph.paragraph--type--bp-columns .paragraph--type--bp-columns__5col {
    float: left;
    width: 20%;
  }
}
.paragraph--type--bp-columns__1col .paragraph.paragraph--width--narrow > .paragraph__column {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .paragraph--type--bp-columns__1col .paragraph.paragraph--width--narrow > .paragraph__column {
    float: left;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .paragraph--type--bp-columns__1col .paragraph.paragraph--width--narrow > .paragraph__column {
    margin-left: 25%;
  }
}
@media (min-width: 992px) {
  .paragraph--type--bp-columns__1col .paragraph.paragraph--width--narrow > .paragraph__column {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .paragraph--type--bp-columns__1col .paragraph.paragraph--width--narrow > .paragraph__column {
    margin-left: 25%;
  }
}
@media (min-width: 1200px) {
  .paragraph--type--bp-columns__1col .paragraph.paragraph--width--narrow > .paragraph__column {
    float: left;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .paragraph--type--bp-columns__1col .paragraph.paragraph--width--narrow > .paragraph__column {
    margin-left: 25%;
  }
}
